@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic,cyrillic-ext");
a {
  text-decoration: none !important;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

a:hover {
  color: #f47318; }

canvas {
  width: 100%; }

.main-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f47318;
  text-decoration: none !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  color: #fff !important;
  border: 0;
  -webkit-appearance: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.main-button:hover {
  background-color: #ff9604; }

.main-button-block {
  display: block;
  text-align: center; }

.main-button:disabled {
  background-color: #757575; }

#index {
  font-family: 'Open Sans', sans-serif;
  background-color: #1a1b21; }
  #index header {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff; }
    #index header .bar {
      padding-top: 10px;
      padding-bottom: 10px; }
      #index header .bar .title {
        float: left;
        font-size: 32px;
        font-weight: bold;
        margin-right: 20px;
        color: #fff;
        text-decoration: none; }
      #index header .bar .links {
        float: left;
        margin-top: 14px;
        text-transform: uppercase; }
        #index header .bar .links a {
          text-decoration: none;
          display: inline-block;
          margin-left: 5px;
          margin-right: 5px; }
      #index header .bar .right {
        float: right; }
        #index header .bar .right .admin {
          display: inline-block;
          margin-left: 5px;
          margin-right: 5px;
          margin-top: 14px; }
  #index .banners .banner {
    display: block;
    position: relative;
    height: 50vh;
    background-position: center;
    background-size: cover; }
    #index .banners .banner .label-wrap {
      position: absolute;
      text-transform: uppercase;
      color: #fff;
      bottom: 15%;
      left: 10%; }
      #index .banners .banner .label-wrap .label {
        padding-left: 5px;
        padding-right: 5px; }
      #index .banners .banner .label-wrap .primary {
        font-size: 36px;
        font-weight: bold;
        background-color: #f47318; }
      #index .banners .banner .label-wrap .secondary {
        font-size: 22px;
        background-color: #000; }
  #index .games-list {
    margin-top: 20px; }
    #index .games-list .category-title {
      display: block;
      font-size: 36px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 10px; }
    #index .games-list .game-card {
      display: block;
      position: relative;
      height: 300px;
      overflow: hidden;
      background-size: cover !important;
      background: no-repeat center;
      color: #fff;
      margin-bottom: 30px; }
      #index .games-list .game-card .title {
        position: absolute;
        left: 0;
        right: 0;
        top: 10px;
        display: block;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        z-index: 1; }
      #index .games-list .game-card .bottom {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        text-align: center; }
    #index .games-list .game-card:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6); }

#game-full {
  background-color: #1a1b21;
  margin-top: 20px;
  color: #fff; }
  #game-full .poster {
    width: 100%; }
    #game-full .poster img {
      width: 100%;
      height: auto; }
  #game-full .price {
    margin-top: 10px;
    text-align: center;
    font-size: 46px;
    font-weight: bold; }
  #game-full .buy-button {
    width: 100%; }
    #game-full .buy-button button {
      width: 100%; }
  #game-full .buy {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px; }
  #game-full .game-info h2 {
    color: #f47318;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2px; }
  #game-full .game-info .game-description {
    text-align: justify; }
  #game-full .game-info .screenshots {
    padding-top: 10px; }
    #game-full .game-info .screenshots img {
      width: 100%;
      margin-bottom: 30px; }
  #game-full .game-info .game-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px; }
  #game-full .game-info .tech-info {
    color: #fff;
    font-size: 15px;
    margin-bottom: 30px; }
    #game-full .game-info .tech-info td {
      padding-top: 2px;
      padding-bottom: 2px;
      vertical-align: middle; }
    #game-full .game-info .tech-info .name {
      font-weight: bold;
      padding-right: 30px; }

#order {
  margin-top: 20px;
  color: #fff; }
  #order h1, #order h2 {
    font-weight: bold; }
  #order table {
    margin-top: 20px;
    width: 100%;
    color: #fff; }
    #order table td {
      padding-bottom: 20px; }
    #order table .image {
      width: 1%;
      white-space: nowrap; }
      #order table .image img {
        max-width: 250px;
        max-height: 250px; }
    #order table .title {
      padding-left: 20px;
      font-weight: bold;
      font-size: 24px; }
    #order table .price {
      font-size: 30px; }
    #order table .delete {
      text-align: right; }
      #order table .delete button {
        margin-top: 14px; }
  #order .order-footer {
    margin-top: 40px; }
    #order .order-footer .back {
      margin-top: 20px;
      text-align: left;
      text-transform: uppercase;
      font-size: 20px; }
    #order .order-footer .total {
      text-align: right; }
      #order .order-footer .total .label {
        font-size: 24px;
        text-transform: uppercase; }
      #order .order-footer .total .price {
        margin-left: 10px;
        font-size: 46px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 40px; }
  #order .input-block {
    margin-top: 40px;
    text-align: right; }
    #order .input-block button {
      margin: auto; }
  #order .buy-something {
    text-align: center; }
  #order .success {
    margin-top: 20px; }

#account-index {
  color: #fff;
  margin-top: 20px; }
  #account-index h1 {
    font-weight: bold; }
  #account-index h3 {
    margin-top: 15px;
    margin-bottom: 10px; }
  #account-index table {
    vertical-align: middle; }
    #account-index table td, #account-index table tr {
      vertical-align: middle; }
    #account-index table .buttons {
      text-align: right; }
  #account-index .order-details {
    margin-bottom: 20px; }
    #account-index .order-details table {
      width: 100%;
      color: #fff; }
      #account-index .order-details table img {
        max-height: 150px;
        max-width: 350px; }

#register .tooltip .tooltip-inner {
  max-width: 400px;
  text-align: left !important; }

#register .is-invalid {
  border: #dc3545 solid 3px !important; }

#login, #register {
  color: #fff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #1a1b21; }
  #login h1, #register h1 {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 6px; }
  #login .form-signin, #register .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    text-align: center; }
    #login .form-signin button, #register .form-signin button {
      display: block;
      width: 100%; }
  #login .form-signin .checkbox, #register .form-signin .checkbox {
    font-weight: 400; }
  #login .form-signin .form-control, #register .form-signin .form-control {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px; }
  #login .form-signin .form-control:focus, #register .form-signin .form-control:focus {
    z-index: 2; }
  #login .form-signin input[type="text"], #register .form-signin input[type="text"] {
    margin-bottom: 10px; }
  #login .form-signin input[type="password"], #register .form-signin input[type="password"] {
    margin-bottom: 10px; }
  #login .form-signin input[type="email"], #register .form-signin input[type="email"] {
    margin-bottom: 10px; }
  #login .alert, #register .alert {
    margin-top: 10px; }
  #login .back, #register .back {
    display: block;
    padding-top: 10px;
    text-transform: uppercase; }

#admin header {
  margin-bottom: 60px; }

#admin #admin-index {
  padding-top: 20px; }
  #admin #admin-index .button-block {
    background-color: #eaeaea;
    border-top: 6px #f47318 solid;
    display: block;
    width: 100%;
    padding: 25px;
    cursor: pointer;
    color: #000 !important;
    margin-bottom: 20px; }
    #admin #admin-index .button-block img {
      width: 100%;
      padding-left: 20%;
      padding-right: 20%;
      padding-bottom: 10%;
      max-height: 400px; }
    #admin #admin-index .button-block p {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      margin: 0; }

#admin .edit-list {
  margin-top: 20px; }
  #admin .edit-list .buttons {
    text-align: right; }
  #admin .edit-list .remove-form {
    display: inline-block; }

#admin .edit-add {
  margin-top: 20px; }

#admin .edit-init {
  margin-top: 20px;
  margin-bottom: 20px; }

#admin #game .title {
  padding-top: 10px; }
  #admin #game .title .add-btn {
    margin-top: 5px;
    text-align: right; }

#admin #game .pages {
  text-align: center; }
  #admin #game .pages .pager {
    display: inline-block;
    margin: auto; }

#admin #game .screenshots input {
  margin-bottom: 10px; }

#admin #admin-stats .load {
  text-align: center; }
  #admin #admin-stats .load img {
    margin: auto; }

#admin #admin-stats .stats-block {
  background-color: #eaeaea;
  border-top: 6px #f47318 solid;
  display: block;
  padding: 25px;
  width: 100%;
  margin-bottom: 30px;
  text-align: center; }
  #admin #admin-stats .stats-block .number {
    font-size: 72px;
    font-weight: bold; }
  #admin #admin-stats .stats-block .label {
    font-size: 24px;
    text-transform: uppercase; }

#error .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center; }
  #error .wrapper .error-block img {
    height: 150px;
    width: auto; }
  #error .wrapper .error-block .code {
    font-size: 100px;
    line-height: 100px;
    color: #fff;
    font-weight: bold; }
  #error .wrapper .error-block .description {
    font-size: 26px;
    color: #fff;
    padding-bottom: 20px; }
