@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic,cyrillic-ext');

//COLORS
$main:#f47318;
$main-hover: #ff9604;
$main-bg:#1a1b21;
$main-disabled: #757575;

a{
  text-decoration: none !important;
  color: #fff;
  transition: 0.3s;
}
a:hover{
  color: $main;
}

canvas {
  width: 100%;
}

.main-button{
  display: inline-block;
  padding: 5px 10px;
  background-color: $main;
  text-decoration: none !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  color: #fff !important;
  border: 0;
  -webkit-appearance: none;
  cursor: pointer;
  transition: 0.3s;
}
.main-button:hover{
  background-color: $main-hover;
}

.main-button-block{
  display: block;
  text-align: center;
}

.main-button:disabled{
  background-color: $main-disabled;
}

#index {
  font-family: 'Open Sans', sans-serif;
  background-color: $main-bg;
  header {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    .bar {
      padding-top: 10px;
      padding-bottom: 10px;
      .title {
        float: left;
        font-size: 32px;
        font-weight: bold;
        margin-right: 20px;
        color: #fff;
        text-decoration: none;
      }
      .links {
        float: left;
        margin-top: 14px;
        text-transform: uppercase;
        a {
          text-decoration: none;
          display: inline-block;
          margin-left: 5px;
          margin-right: 5px;
        }
      }
      .right {
        float: right;
        .admin {
          display: inline-block;
          margin-left: 5px;
          margin-right: 5px;
          margin-top: 14px;
        }
      }
    }
  }
  .banners {
    .banner {
      display: block;
      position: relative;
      height: 50vh;
      background-position: center;
      background-size: cover;
      .label-wrap {
        position: absolute;
        text-transform: uppercase;
        color: #fff;
        bottom: 15%;
        left: 10%;
        .label {
          padding-left: 5px;
          padding-right: 5px;
        }
        .primary {
          font-size: 36px;
          font-weight: bold;
          background-color: $main;
        }
        .secondary {
          font-size: 22px;
          background-color: #000;
        }
      }
    }
  }

  .games-list {
    margin-top: 20px;
    .category-title {
      display: block;
      font-size: 36px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    .game-card {
      display: block;
      position: relative;
      height: 300px;
      overflow: hidden;
      background-size: cover !important;
      background: no-repeat center;
      color: #fff;
      margin-bottom: 30px;
      .title {
        position: absolute;
        left: 0;
        right: 0;
        top: 10px;
        display: block;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        z-index: 1;
      }
      .bottom {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        text-align: center;
      }
    }
    .game-card:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}
#game-full{
  background-color: $main-bg;
  margin-top: 20px;
  color: #fff;
  .poster{
    width: 100%;
    img{
      width: 100%;
      height: auto;
    }
  }
  .price{
    margin-top: 10px;
    text-align: center;
    font-size: 46px;
    font-weight: bold;
  }
  .buy-button{
    width: 100%;
    button{
      width: 100%;
    }
  }
  .buy{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
  .game-info{
    h2{
      color: $main;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 2px;
    }
    .game-description{
      text-align: justify;
    }
    .screenshots{
      padding-top: 10px;
      img{
        width: 100%;
        margin-bottom: 30px;
      }
    }
    .game-title{
      text-transform: uppercase;
      font-weight: bold;
      font-size: 36px;
    }
    .tech-info{
      color: #fff;
      font-size: 15px;
      margin-bottom: 30px;
      td{
        padding-top: 2px;
        padding-bottom: 2px;
        vertical-align: middle;
      }
      .name{
        font-weight: bold;
        padding-right: 30px;
      }
    }
  }
}

#order{
  margin-top: 20px;
  color: #fff;
  h1, h2{
    font-weight: bold;
  }
  table{
    margin-top: 20px;
    width: 100%;
    color: #fff;
    td{
      padding-bottom: 20px;
    }
    .image{
      width: 1%;
      white-space:nowrap;
      img{
        max-width: 250px;
        max-height: 250px;
      }
    }
    .title{
      padding-left: 20px;
      font-weight: bold;
      font-size: 24px;
    }
    .price{
      font-size: 30px;
    }
    .delete{
      text-align: right;
      button{
        margin-top: 14px;
      }
    }
  }
  .order-footer{
    margin-top: 40px;
    .back{
      margin-top: 20px;
      text-align: left;
      text-transform: uppercase;
      font-size: 20px;
    }
    .total{
      text-align: right;
      .label{
        font-size: 24px;
        text-transform: uppercase;
      }
      .price{
        margin-left: 10px;
        font-size: 46px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 40px;
      }
    }
  }
  .input-block{
    margin-top: 40px;
    text-align: right;
    button{
      margin: auto;
    }
  }
  .buy-something{
    text-align: center;
  }
  .success{
    margin-top: 20px;
  }
}

#account-index{
  color: #fff;
  margin-top: 20px;
  h1{
    font-weight: bold;
  }
  h3{
    margin-top: 15px;
    margin-bottom: 10px;
  }

  table{
    vertical-align: middle;
    td, tr{
      vertical-align: middle;
    }
    .buttons{
      text-align: right;
    }
  }
  .order-details{
    margin-bottom: 20px;
    table{
      width: 100%;
      img{
        max-height: 150px;
        max-width: 350px;
      }
      color: #fff;
    }
  }
}

#register{
  @extend #login;
  .tooltip{
    .tooltip-inner{
      max-width: 400px;
      text-align: left !important;
    }
  }
  .is-invalid{
    border: #dc3545 solid 3px !important;
  }
}

#login{
  color: #fff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $main-bg;
  h1{
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 6px;
  }
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    button{
      display: block;
      width: 100%;
    }
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="text"] {
    margin-bottom: 10px;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
  }
  .form-signin input[type="email"] {
    margin-bottom: 10px;
  }
  .alert{
    margin-top: 10px;
  }
  .back{
    display: block;
    padding-top: 10px;
    text-transform: uppercase;
  }
}

#admin{
  header {
    margin-bottom: 60px;
  }
  #admin-index{
    padding-top: 20px;
    .button-block{
      background-color: #eaeaea;
      border-top: 6px $main solid;
      display: block;
      width: 100%;
      padding: 25px;
      cursor: pointer;
      color: #000 !important;
      margin-bottom: 20px;
      img{
        width: 100%;
        padding-left: 20%;
        padding-right: 20%;
        padding-bottom: 10%;
        max-height: 400px;
      }
      p{
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin: 0;
      }
    }
  }
  .edit-list {
    margin-top:20px;
    .buttons{
      text-align: right;
    }
    .remove-form{
      display: inline-block;
    }
  }
  .edit-add{
    margin-top:20px;
  }
  .edit-init{
    margin-top:20px;
    margin-bottom: 20px;
  }
  #game{
    .title{
      padding-top: 10px;
      .add-btn{
        margin-top:5px;
        text-align: right;
      }
    }
    .pages{
      text-align: center;
      .pager{
        display: inline-block;
        margin: auto;
      }
    }
    .screenshots{
      input{
        margin-bottom: 10px;
      }
    }
  }
  #admin-stats{
    .load{
      img{
        margin:auto;
      }
      text-align: center;
    }
    .stats-block{
      background-color: #eaeaea;
      border-top: 6px $main solid;
      display: block;
      padding: 25px;
      width: 100%;
      margin-bottom: 30px;
      text-align: center;
      .number{
        font-size: 72px;
        font-weight: bold;
      }
      .label{
        font-size: 24px;
        text-transform: uppercase;
      }
    }
  }
}

#error{
  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    .error-block{
      img{
        height: 150px;
        width: auto;
      }
      .code{
        font-size: 100px;
        line-height: 100px;
        color: #fff;
        font-weight: bold;
      }
      .description{
        font-size: 26px;
        color: #fff;
        padding-bottom: 20px;
      }
    }
  }
}
